@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
body {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background-color: #e3ecc2;
  font-size: 90%;
  letter-spacing: 0.008rem;
  word-spacing: 0.1rem;
  line-height: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html, body {
  scroll-behavior: smooth;
  font-size: 0.92rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3.598rem;
}

h2 {
  font-size: 2.143rem;
}

h3 {
  font-size: 1.473rem;
}

h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

img, video {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: 100;
  font-size: 1.05rem;
}

a {
  text-decoration: none;
  font-size: 1.116rem;
}

span {
  font-weight: bolder;
  font-size: 1.25rem;
}

button {
  font-size: 1.033rem;
  font-family: "Ubuntu", sans-serif;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
}

::-webkit-input-placeholder {
  color: #ff7360;
  text-transform: capitalize;
}

::-moz-placeholder {
  color: #ff7360;
  text-transform: capitalize;
}

:-ms-input-placeholder {
  color: #ff7360;
  text-transform: capitalize;
}

::-ms-input-placeholder {
  color: #ff7360;
  text-transform: capitalize;
}

::placeholder {
  color: #ff7360;
  text-transform: capitalize;
}

@media (min-width:36rem) {
  html, body {
    font-size: 1rem;
  }
}
@media (min-width:48rem) {
  html, body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4.598rem;
  }
}
@media (min-width:62rem) {
  html, body {
    font-size: 1.3rem;
  }
}
@media (min-width:75rem) {
  html, body {
    font-size: 1.4rem;
  }
}
@media (min-width:110rem) {
  html, body {
    font-size: 2.3rem;
  }
}
@media (min-width:160rem) {
  html, body {
    font-size: 3.5rem;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
@font-face {
  font-family: "Lato";
  src: url("./font/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("./font/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("./font/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/Raleway-Bold.ttf");
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
.icon {
  font-size: 1.8rem;
  color: #ffffff;
  cursor: pointer;
}
.icon:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.icon:focus, .icon:hover {
  color: #ff7360;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 0.2rem #ff7360 inset;
          box-shadow: 0 0 0 0.2rem #ff7360 inset;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  -o-transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
.icon:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
.button {
  display: inline-block;
  background-color: #ff7360;
  color: #ffffff;
  padding: 0.7rem 2.3rem;
  font-weight: 400;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.217rem;
  cursor: pointer;
  margin-bottom: 7.604rem;
}
.button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.button:focus, .button:hover {
  background-color: #ff5d47;
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff, 0 0 0 0.4rem #ff7360;
          box-shadow: 0 0 0 0.2rem #ffffff, 0 0 0 0.4rem #ff7360;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  -o-transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
.button:active {
  background-color: #931200;
  -webkit-box-shadow: 0 0 0 0.2rem #f2f2f2, 0 0 0 0.4rem #ff5d47;
          box-shadow: 0 0 0 0.2rem #f2f2f2, 0 0 0 0.4rem #ff5d47;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.link:link {
  color: #ffffff;
}
.link:visited {
  color: #78500f;
}
.link:hover, .link:focus, .link:active {
  color: black;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
  width: 95%;
  margin: 2rem auto 5.2rem;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__img {
  width: 3rem;
  margin-right: 0.8rem;
}

.menu__ul {
  font-family: "Ubuntu";
  font-weight: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff7360;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  -o-transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  width: 100vw;
  z-index: 100;
  border-bottom: 0.5rem solid #FECC8C;
  display: none;
}
.menu__ul::before {
  font-size: 2rem;
}
.menu__ul:hover::before {
  cursor: pointer;
}

.menu__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0;
}

.menu__li {
  text-transform: capitalize;
}
.menu__li:first-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.menu__a {
  font-weight: 500;
  line-height: 1.5;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.3rem 1rem;
}
.menu__a:hover, .menu__a:focus {
  background-color: #ffffff;
  color: #000000;
}

.menu__bars, .menu__close {
  border: 0;
  font-size: 2rem;
  background-color: #ff7360;
  color: #ffffff;
  cursor: pointer;
}
.menu__bars:active, .menu__close:active {
  -webkit-box-shadow: 0 0 0 0.2rem #ff7360, 0 0 0 0.4rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ff7360, 0 0 0 0.4rem #ffffff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.menu__bars:focus, .menu__bars:hover, .menu__close:focus, .menu__close:hover {
  -webkit-box-shadow: 0 0 0 0.3rem #ff7360, 0 0 0 0.5rem #ffffff;
          box-shadow: 0 0 0 0.3rem #ff7360, 0 0 0 0.5rem #ffffff;
}

.menu__nav::after {
  content: "menu";
  position: absolute;
  clip: rect(0px 0px 0px 0px);
  height: 0;
  width: 0;
  overflow: hidden;
}

@media (min-width:48rem) {
  .menu {
    width: 83.5%;
  }
}
@media (min-width:62rem) {
  .menu__ul {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    width: auto;
  }

  .menu__li:first-of-type {
    display: none;
  }

  .menu__bars, .fa-bars {
    display: none;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.containerH1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  position: relative;
  z-index: 5;
}
.containerH1 > * {
  margin-bottom: 2.25rem;
}

.containerH1__h1 {
  text-transform: capitalize;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
.card {
  width: 85%;
  margin-bottom: 2rem;
  background-color: #ffffff;
  color: #504f4f;
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 0 0 0.3rem #e3ecc2, 0px 0 0 0.6rem #ff7360;
          box-shadow: 0px 0 0 0.3rem #e3ecc2, 0px 0 0 0.6rem #ff7360;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  -o-transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}

.card__img {
  width: 100%;
}

.card__containerText {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0.9rem 0.8rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__h3 {
  margin-bottom: 1rem;
}

.card__close {
  background-color: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: none;
  padding: 0;
  margin-top: 1rem;
  border: 0;
}
.card__close::before {
  font-size: 2rem;
}
.card__close:hover, .card__close:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.card__close:hover {
  cursor: pointer;
}
.card__close:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.card__parraf {
  margin-bottom: 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__p {
  pointer-events: none;
  text-align: left;
}
.card__p:focus {
  -webkit-box-shadow: 0 0 0.1rem 0.2rem transparent, 0 0 0.1rem 0.3rem #ff7360 inset;
          box-shadow: 0 0 0.1rem 0.2rem transparent, 0 0 0.1rem 0.3rem #ff7360 inset;
}

@media (min-width:36rem) {
  .card {
    width: 35%;
  }
}
@media (min-width:75rem) {
  .card {
    width: 30%;
    /* 339px/1440 */
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  position: relative;
}

.food__container--rotate {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.food__containerImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}
.food__containerImg::after {
  position: absolute;
  z-index: 1;
  display: block;
  content: "";
  bottom: -3.3rem;
  left: 45%;
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
}
.food__containerImg:last-of-type::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #ffff51, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #ffff51, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #ffff51, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #ffff51, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #ffff51, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #ffff51, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #ffff51, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #ffff51, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #ffff51, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #ffff51, 4rem 0 0 0 transparent;
  bottom: 0;
}

@media (min-width:36rem) {
  .food__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .food__information, .voucher__container, .l-quotes {
    width: 50%;
  }

  .food__containerImg {
    width: 50%;
  }
}
@media (min-width:75rem) {
  .food__containerImg::after {
    bottom: -3.5rem;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.food__information, .voucher__container, .l-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #504f4f;
  text-align: left;
  padding: 2rem 0;
  position: relative;
  cursor: default;
}
.food__information > *, .voucher__container > *, .l-quotes > * {
  margin: 1rem 1rem;
}

.food__h2 {
  text-transform: capitalize;
}

.food__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.food__p {
  pointer-events: none;
  font-size: 1.295rem;
  line-height: 1.5;
}

.button__span {
  position: absolute;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.order__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.order__card > *:not(p) {
  margin-bottom: 1.5rem;
}

.order__h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.order__p {
  text-align: center;
  font-size: 0.848rem;
  line-height: 1.208rem;
}

.order__h3 {
  text-transform: capitalize;
  font-size: 2.034rem;
}

.order__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  color: #ff7360;
  font-size: 2.034rem;
  font-weight: 900;
}

@media (min-width:36rem) {
  .order__card {
    width: 40%;
  }
}
@media (min-width:75rem) {
  .order__card {
    width: 29%;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.food__information, .voucher__container, .l-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #504f4f;
  text-align: left;
  padding: 2rem 0;
  position: relative;
  cursor: default;
}
.food__information > *, .voucher__container > *, .l-quotes > * {
  margin: 1rem 1rem;
}

.food__h2 {
  text-transform: capitalize;
}

.food__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.food__p {
  pointer-events: none;
  font-size: 1.295rem;
  line-height: 1.5;
}

.button__span {
  position: absolute;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.voucher__container, .l-quotes {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7360;
}

.voucher__p {
  text-align: center;
  font-size: 1.295rem;
  color: #000000;
}

.voucher__h2 {
  color: #000000;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
}

@media (min-width:36rem) {
  .voucher__container, .l-quotes {
    width: 80%;
  }
}
@media (min-width:48rem) {
  .voucher__container, .l-quotes {
    width: 80%;
  }
}
@media (min-width:62rem) {
  .voucher__container, .l-quotes {
    width: 70%;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.food__information, .voucher__container, .l-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #504f4f;
  text-align: left;
  padding: 2rem 0;
  position: relative;
  cursor: default;
}
.food__information > *, .voucher__container > *, .l-quotes > * {
  margin: 1rem 1rem;
}

.food__h2 {
  text-transform: capitalize;
}

.food__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.food__p {
  pointer-events: none;
  font-size: 1.295rem;
  line-height: 1.5;
}

.button__span {
  position: absolute;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.voucher__container, .l-quotes {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7360;
}

.voucher__p {
  text-align: center;
  font-size: 1.295rem;
  color: #000000;
}

.voucher__h2 {
  color: #000000;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
}

@media (min-width:36rem) {
  .voucher__container, .l-quotes {
    width: 80%;
  }
}
@media (min-width:48rem) {
  .voucher__container, .l-quotes {
    width: 80%;
  }
}
@media (min-width:62rem) {
  .voucher__container, .l-quotes {
    width: 70%;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.footer__containerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  z-index: 50;
}

.author {
  background-color: #ff7360;
  display: inline-block;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width:48rem) {
  /* .footer__containerAll{
      width: 85%;
  }  */
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.containerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding-top: 14rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  background: url("../images/bottom.svg") 0 0/cover no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ff7360));
  background: url("../images/bottom.svg") 0 0/cover no-repeat, -o-linear-gradient(top, transparent 50%, #ff7360 50%);
  background: url("../images/bottom.svg") 0 0/cover no-repeat, linear-gradient(top, transparent 50%, #ff7360 50%);
  padding-bottom: 4rem;
}

.containerAbout__h2 {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  position: relative;
}
.containerAbout__h2::after {
  content: "";
  position: absolute;
  width: 75%;
  width: 75%;
  height: 0.1rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}

.containerAbout__about {
  width: 100%;
}

.containerAbout__text {
  margin-bottom: 5rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
}
.containerAbout__text > *:not(h2) {
  font-size: 0.85rem;
  text-align: left;
  margin-bottom: 1rem;
}

.containerAll__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:24rem) {
  .containerAll__ul {
    width: 75%;
  }
}
@media (min-width:36rem) {
  .containerAll__ul {
    width: 60%;
  }

  .containerAbout__about {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:48rem) {
  .containerAbout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 18rem;
  }

  .containerAbout__text {
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    width: 100%;
  }

  .containerAbout__about {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    width: 100%;
  }

  .containerAll__ul {
    width: auto;
  }
}
@media (min-width:75rem) {
  .containerAbout {
    padding-top: 20rem;
  }
}
@media (min-width:110rem) {
  .containerAbout {
    padding-top: 22rem;
  }
}
@media (min-width:160rem) {
  .containerAbout {
    padding-top: 24rem;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7360;
  position: relative;
  top: 100%;
}

.footer__li {
  margin-right: 0.8rem;
}
.footer__li:last-of-type {
  margin-right: 0;
}

.footer__a {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff7360;
  border-radius: 50%;
}
.footer__a:active {
  -webkit-box-shadow: inset 0 0 0.2rem 0.2rem #ff7360;
          box-shadow: inset 0 0 0.2rem 0.2rem #ff7360;
}

.socialMedia__span {
  position: absolute;
  -webkit-clip-path: inset(1px 1px 1px 1px);
          clip-path: inset(1px 1px 1px 1px);
  font-size: 0px;
  height: 0;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.formul {
  width: 100%;
}
.formul > * {
  margin-bottom: 1rem;
}

.formul__label {
  font-size: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
}

.formul__containerLI {
  position: relative;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.inputext {
  width: 100%;
  border: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #ff7360;
  background-color: #ffffff;
}
.inputext:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #000000;
          box-shadow: 0 0 0 0.2rem #000000;
}

.submit {
  width: auto;
  padding: 0.6rem 3rem;
  margin-left: auto;
  cursor: pointer;
  color: #ff7360;
  text-transform: uppercase;
}
.submit:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.submit:focus, .submit:hover {
  background-color: #ff5d47;
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff, 0 0 0 0.4rem #ff7360;
          box-shadow: 0 0 0 0.2rem #ffffff, 0 0 0 0.4rem #ff7360;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  -o-transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
.submit:active {
  background-color: #931200;
  -webkit-box-shadow: 0 0 0 0.2rem #f2f2f2, 0 0 0 0.4rem #ff5d47;
          box-shadow: 0 0 0 0.2rem #f2f2f2, 0 0 0 0.4rem #ff5d47;
}
.submit:hover, .submit:focus, .submit:active {
  color: #ffffff;
}

.textarea {
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}
.textarea:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #000000;
          box-shadow: 0 0 0 0.2rem #000000;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.hideText {
  display: block;
  height: 4.4rem;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  cursor: pointer;
}

.hideTextPromo {
  cursor: default;
}

.showText {
  height: auto;
  -webkit-line-clamp: none;
  overflow: visible;
  cursor: default;
}

.ellipsis, .hideTextPromo {
  cursor: pointer;
  pointer-events: auto;
  display: block;
  font-size: 1.05rem;
  line-height: 1.5;
  max-height: 6.3rem;
  overflow: hidden;
  position: relative;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-direction: vertical;
  position: relative;
  text-align: justify;
}
.ellipsis p:not(:first-of-type), .hideTextPromo p:not(:first-of-type) {
  display: none;
}
.ellipsis::after, .hideTextPromo::after {
  content: "⋯";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, transparent), color-stop(30%, #ffffff));
  background-image: -o-linear-gradient(left, transparent 20%, #ffffff 30%);
  background-image: linear-gradient(left, transparent 20%, #ffffff 30%);
  width: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ellipsis--2 {
  display: block;
  font-size: 1.295rem;
  line-height: 1.5;
  max-height: 7.77rem;
  overflow: hidden;
  position: relative;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-direction: vertical;
  text-align: justify;
}
.ellipsis--2 p:not(:first-of-type) {
  display: none;
}
.ellipsis--2::after {
  content: "⋯";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, transparent), color-stop(30%, #ffffff));
  background-image: -o-linear-gradient(left, transparent 20%, #ffffff 30%);
  background-image: linear-gradient(left, transparent 20%, #ffffff 30%);
  width: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  -o-transition: transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

.opacityElement {
  position: relative;
}
.opacityElement::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 99;
}

.scroolTop {
  position: fixed;
  color: #000000;
  z-index: 1000;
  bottom: 15%;
  right: 1rem;
  -webkit-transform: translateX(20rem);
      -ms-transform: translateX(20rem);
          transform: translateX(20rem);
  visibility: hidden;
}
.scroolTop:hover, .scroolTop:active {
  color: #4d4d4d;
  cursor: pointer;
}
.scroolTop:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.scroolTop:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  color: #1a1a1a;
}

.animate {
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.button--voucher {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

@media (min-width:75rem) {
  .button--voucher {
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
  }
}
.menu__span {
  position: absolute;
  -webkit-transform: translateX(-100rem);
      -ms-transform: translateX(-100rem);
          transform: translateX(-100rem);
}

.button__spanShowmore {
  position: absolute;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
.l-header {
  background: url("../images/top.svg") 0 100%/cover no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 12rem;
}
.l-header::before, .l-header::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #ffff51, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #ffff51, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #ffff51, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #ffff51, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #ffff51, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #ffff51, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #ffff51, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #ffff51, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #ffff51, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #ffff51, 4rem 0 0 0 transparent;
}
.l-header::before {
  bottom: 4rem;
  left: 2rem;
}
.l-header::after {
  right: 2.9rem;
  bottom: 60%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__skip {
  width: auto;
  height: auto;
  position: fixed;
  z-index: 200;
  padding: 0.5rem;
  padding-right: 2rem;
  top: 4rem;
  left: 0.5rem;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  -o-transition: transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  font-weight: 800;
  background-color: #ff7360;
}
.header__skip:focus {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0 0 0 0.2rem transparent, 0 0 0 0.4rem #ffffff;
          box-shadow: 0 0 0 0.2rem transparent, 0 0 0 0.4rem #ffffff;
}

@media (min-width:48rem) {
  .l-header::before {
    left: 6rem;
  }
}
@media (min-width:62rem) {
  .l-header {
    padding-bottom: 16rem;
  }
}
@media (min-width:75rem) {
  .l-header::before {
    bottom: 6rem;
    left: 8rem;
  }
}
@media (min-width:110rem) {
  .l-header {
    padding-bottom: 20rem;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 0 auto 5rem;
}

.cardsContainer__2 {
  display: none;
  -webkit-transition: display 2s ease;
  -o-transition: display 2s ease;
  transition: display 2s ease;
}

.l-cards {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.l-cards::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
  bottom: 2rem;
  left: 3rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cardsH2 {
  color: #ff7360;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

@media (min-width:24rem) {
  .cardsContainer {
    width: 68%;
  }
}
@media (min-width:36rem) {
  .cardsContainer {
    width: 95%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width:75rem) {
  .cardsContainer {
    width: 87%;
  }

  .l-cards::after {
    right: 3rem;
  }
}
.l-food {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.l-order {
  background-color: #ff7360;
  padding: 4rem 1rem;
  width: 100%;
}

.order__containerElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width:36rem) {
  .order__containerElements {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width:75rem) {
  .order__containerElements {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.l-voucher {
  background: url("../images/voucher/pexels-elle-hughes-small.jpg") 0 0/cover no-repeat;
  padding: 4rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-voucher::before, .l-voucher::after {
  content: "";
  position: absolute;
  z-index: 5;
}
.l-voucher::before {
  top: -1.7rem;
  left: 2.5rem;
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
}
.l-voucher::after {
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #ffff51, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #ffff51, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #ffff51, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #ffff51, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #ffff51, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #ffff51, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #ffff51, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #ffff51, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #ffff51, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #ffff51, 4rem 0 0 0 transparent;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 4rem;
  bottom: -3.3rem;
}

@media (min-width:36rem) {
  .l-voucher {
    background: url("../images/voucher/pexels-elle-hughes-Medium.jpg") 0 0/cover no-repeat;
  }
}
@media (min-width:62rem) {
  .l-voucher {
    background: url("../images/voucher/pexels-elle-hughes-large.jpg") 0 0/cover no-repeat;
  }
}
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.food__information, .voucher__container, .l-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #504f4f;
  text-align: left;
  padding: 2rem 0;
  position: relative;
  cursor: default;
}
.food__information > *, .voucher__container > *, .l-quotes > * {
  margin: 1rem 1rem;
}

.food__h2 {
  text-transform: capitalize;
}

.food__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.food__p {
  pointer-events: none;
  font-size: 1.295rem;
  line-height: 1.5;
}

.button__span {
  position: absolute;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.voucher__container, .l-quotes {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff7360;
}

.voucher__p {
  text-align: center;
  font-size: 1.295rem;
  color: #000000;
}

.voucher__h2 {
  color: #000000;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
}

@media (min-width:36rem) {
  .voucher__container, .l-quotes {
    width: 80%;
  }
}
@media (min-width:48rem) {
  .voucher__container, .l-quotes {
    width: 80%;
  }
}
@media (min-width:62rem) {
  .voucher__container, .l-quotes {
    width: 70%;
  }
}
.l-quotes {
  margin-bottom: 5.5rem;
  padding-top: 4rem;
}

.quotes__h2 {
  font-family: "Raleway";
  font-weight: 800;
  position: relative;
}
.quotes__h2::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.quotes__span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
}

.quotes__p {
  text-align: center;
  font-size: 1.674rem;
  line-height: 1.9rem;
}

/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
/*
mixin creado para el comportamiento hover,active,focus;
*/
/*nueva paleta de colores*/
/*tamaños base*/
/* 
@media (min-width:24rem){

}
@media  (min-width:36rem){

}
@media  (min-width:48rem){

}
@media  (min-width:62rem){

}
@media  (min-width:75rem){

}
@media  (min-width:110rem){

}
@media  (min-width:160rem){

} */
.l-footer {
  width: 100%;
  position: relative;
  padding-top: 2rem;
}
.l-footer::after, .l-footer::before {
  content: "";
  position: absolute;
}
.l-footer::after {
  content: "";
}
.l-footer::before {
  width: 0.3rem;
  height: 5rem;
  background-color: transparent;
  -webkit-box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
          box-shadow: 0.4rem 0 0 0 #d06aff, 0.8rem 0 0 0 transparent, 1.2rem 0 0 0 #d06aff, 1.6rem 0 0 0 transparent, 2rem 0 0 0 #d06aff, 2.4rem 0 0 0 transparent, 2.8rem 0 0 0 #d06aff, 3.2rem 0 0 0 transparent, 3.6rem 0 0 0 #d06aff, 4rem 0 0 0 transparent;
  top: 0.5rem;
  left: 2.5rem;
  z-index: 10;
}

@media (min-width:36rem) {
  .l-footer::before {
    top: 2.5rem;
    left: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */