<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimun-scale=1")
		meta(name="description", content="Restaurante con exelentes ofertas de platos de inigualable sabor.. ")
		meta(name="keywords", content="restaurante,comida,platos,sabor")
		title Restaurant
		link(rel="shortcut icon", href="icon.svg", type="image/x-icon")
		link(rel="stylesheet", href="css/fontawesome/css/all.min.css")
		link(rel="stylesheet", href="css/styles.css")
	body
		header(class="l-header clip",id="id-header")
			a(class="header__skip link", href="#id-cards") Principal content
			article(class="menu")
				article(class="menu__logo")
					img(src="images/logo.svg", alt="logo de la empresa", class="menu__img",srcset="")
				nav(class="menu__nav" area-label="Principal menu")
					button(class="fas fa-bars menu__bars",id="id-barsMenu", aria-expanded="false")
					ul(class=" menu__ul",id="id-menuNav")
						li(class="menu__li"): button(class="fas fa-window-close menu__close",id="id-close-menu" aria-label="close")
						li(class="menu__li"): a(class="menu__a link ", href="#id-header") Home 
						li(class="menu__li"): a(class="menu__a link ", href="#id-promo") Promotion
						li(class="menu__li"): a(class="menu__a link ", href="#id-cards") Menu
						li(class="menu__li"): a(class="menu__a link ", href="#id-order") Order
						li(class="menu__li"): a(class="menu__a link ", href="#id-containerAbout") Contact
			article(class="containerH1")
				h1(class="containerH1__h1") Tasty trails
					br
					|Always			
				p(class="containerH1__p") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas ?				
		main(class="l-cards",id="id-cards")
			h2(class="cardsH2") Menu
			ul(class="cardsContainer")
				li(class="card")
					img(src="images/cards/pexels-ella-olsson.jpg", class="card__img",loading="lazy",alt="Adicionar el texto correspondiente", srcset="")
					div(class="card__containerText")
						h3(class="card__h3") Name of the menu
						div(class="card__parraf", id="id-card1")
							p(class="card__p ellipsis") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo a eveniet aperiam id provident officiaporro obcaecati accusamus labore ad dolore quis, delectus deserunt ab molestiae eum perferendis eaque?
							button( class="card__close fas fa-window-close",id="id-closeCard", aria-label="close")
						span(class="card__span") $8
				li(class="card")
					img(src="images/cards/pexels-jill-wellington.jpg", class="card__img",loading="lazy",alt="Adicionar el texto correspondiente", srcset="")
					div(class="card__containerText")
						h3(class="card__h3") Name of the menu
						div(class="card__parraf", id="id-card2")
							p(class="card__p ellipsis") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo a eveniet aperiam id provident officiaporro obcaecati accusamus labore ad dolore quis, delectus deserunt ab molestiae eum perferendis eaque?
							button( class="card__close fas fa-window-close",id="id-closeCard", aria-label="close")
						span(class="card__span") $8
				li(class="card")
					img(src="images/cards/pexels-lara.jpg", class="card__img",loading="lazy",alt="Adicionar el texto correspondiente", srcset="")
					div(class="card__containerText")
						h3(class="card__h3") Name of the menu
						div(class="card__parraf ", id="id-card3")
							p(class="card__p ellipsis") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo a eveniet aperiam id provident officiaporro obcaecati accusamus labore ad dolore quis, delectus deserunt ab molestiae eum perferendis eaque?
							button( class="card__close fas fa-window-close",id="id-closeCard", aria-label="close")
						span(class="card__span") $8
			ul(class="cardsContainer cardsContainer__2",id="id-cardsContainer2")
				li(class="card")
					img(src="images/cards/salad.jpg", class="card__img",loading="lazy",alt="Adicionar el texto correspondiente", srcset="")
					div(class="card__containerText")
						h3(class="card__h3") Name of the menu
						div(class="card__parraf ", id="id-card4")
							p(class="card__p ellipsis",id="id-firstHideCard",aria-label="close") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo a eveniet aperiam id provident officiaporro obcaecati accusamus labore ad dolore quis, delectus deserunt ab molestiae eum perferendis eaque?
							button( class="card__close fas fa-window-close",id="id-closeCard", aria-label="close")
						span(class="card__span") $8
				li(class="card")
					img(src="images/cards/pulpo.jpg", class="card__img",loading="lazy",alt="Adicionar el texto correspondiente", srcset="")
					div(class="card__containerText")
						h3(class="card__h3") Name of the menu
						div(class="card__parraf ", id="id-card5")
							p(class="card__p ellipsis") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo a eveniet aperiam id provident officiaporro obcaecati accusamus labore ad dolore quis, delectus deserunt ab molestiae eum perferendis eaque?
							button( class="card__close fas fa-window-close",id="id-closeCard", aria-label="close")
						span(class="card__span") $8
				li(class="card")
					img(src="images/cards/pescado.jpg", class="card__img",loading="lazy",alt="Adicionar el texto correspondiente", srcset="")
					div(class="card__containerText")
						h3(class="card__h3") Name of the menu
						div(class="card__parraf ", id="id-card6")
							p(class="card__p ellipsis") Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo a eveniet aperiam id provident officiaporro obcaecati accusamus labore ad dolore quis, delectus deserunt ab molestiae eum perferendis eaque?
							button( class="card__close fas fa-window-close",id="id-closeCard", aria-label="close")
						span(class="card__span") $8			
			button(class="button button__showMore",id="id-buttonPopularMenu") SHOW MORE
				span(class="button__spanShowmore") kitchen recipes
		article(class="l-food",id="id-promo")
			article(class="food__container") 
				a(class="fas fa-arrow-circle-up fa-2x scroolTop", id="id-scroollTop",href="#id-header")
				div(class="food__containerImg")
					img(class="food__img",src="images/food/pexels-polina-tankilevitch-small.jpg",loading="lazy", alt="Adicionar el texto correspondiente", srcset="")
				div(class="food__information")
					h2(id="id-food__h2", class="food__h2") First Offer
					p(class="card__p ellipsis--2 food__p") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur inventore quam numquam, odit sed et laborum tempora quod sapiente neque molestiae recusandae quia modi, cumque unde ipsam eius! Dolorem labore reprehenderit corporis, animi neque mollitia inventore obcaecati iste quos autem temporibus officiis veniam sit illo laborum! Tempore deserunt dignissimos labore!
					button(class="food__input button") Read more
						span(class="button__span") about this offer kitchen recipes
			article(class="food__container food__container--rotate")
				div(class="food__information")
					h2(class="food__h2") Second Offer
					p(class="card__p ellipsis--2 food__p") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur inventore quam numquam, odit sed et laborum tempora quod sapiente neque molestiae recusandae quia modi, cumque unde ipsam eius! Dolorem labore reprehenderit corporis, animi neque mollitia inventore obcaecati iste quos autem temporibus officiis veniam sit illo laborum! Tempore deserunt dignissimos labore!
					button(class="food__input button") Read more
						span(class="button__span") about this offer kitchen recipes
				div(class="food__containerImg")
					img(class="food__img",src="images/food/pexels-roman-odintsov-small.jpg",loading="lazy", alt="Adicionar el texto correspondiente", srcset="")
		article(class="l-order",id="id-order")
			h2(class="order__h2") Steps to order
			article(class="order__containerElements")
				div(class="order__card")
					span(class="order__span") 1
					h3(class="order__h3") Call us
					p(class="order__p") Lorem, ipsum dolor sit amet consectetur adipisicing elit.?
				div(class="order__card")
					span(class="order__span") 2
					h3(class="order__h3") The menu
					p(class="order__p") Lorem, ipsum dolor sit amet consectetur adipisicing elit.?
				div(class="order__card")
					span(class="order__span") 3
					h3(class="order__h3") Delivery
					p(class="order__p") Lorem, ipsum dolor sit amet consectetur adipisicing elit.?
		article(class="l-voucher")
			h2(class="voucher__h2") Lorem, ipsum dolor.
			div(class="voucher__container")
				p(class="voucher__p") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error beatae soluta quod! Sapiente, fugiat. Maxime perspiciatis quas illum explicabo! Porro. Lorem ipsum, dolor sit amet consectetur adipisicing elit. At velit asperiores optio.				
		article(class="l-quotes")
			h2(class="quotes__h2")
				p(class="quotes__span") Exclamation 
			p(class="quotes__p") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore aperiam in ullam dolores eos saepe aspernatur nam perferendis molestias sit? 			
		footer(class="l-footer")
			article(class="footer__containerAll")
				ul(class="footer__ul")
					li(class="footer__li"): a(class="footer__a fab fa-twitter icon", href="#"): span(class="socialMedia__span") twitter
					li(class="footer__li"): a(class="footer__a fab fa-facebook-f icon", href="#"): span(class="socialMedia__span") facebook 
					li(class="footer__li"): a(class="footer__a fab fa-instagram icon", href="#"): span(class="socialMedia__span") instagram
				article(class="containerAbout clip " id="id-containerAbout")
					address(class="containerAbout__text")
						h2(class="containerAbout__h2"): small Our place
						p(class="containerAbout__p"): small  Telephone: +5455 4545 454
						p(class="containerAbout__mail"): small info@yourmail.your.mail
						p(class="containerAbout__street"): small 27 Your Location,2th Lorem ipsum dolor sit amet,LOREM IPSUM
					article(class="containerAbout__about")
						h2(class="containerAbout__h2") Say hello !
						form(class="formul", id="id-form")
							div(class="formul__containerLI")
								label(class="formul__label" for="name") name
								input(id="id-nombre",class="formul__name inputext",type="text",required, name="name", placeholder="name")
							div(class="formul__containerLI")
								label(class="formul__label" for="email") email
								input(id="id-email",class="formul__correo inputext",type="email", name="email",required, placeholder="mail")
							div(class="formul__containerLI")
								label(class="formul__label",name="telephone number" for="telephone") telephone number
								input(id="id-number",class="formul__cel inputext",type="tel",required,name="telephone", placeholder="phone number")
							div(class="formul__containerLI")
								label(class="formul__label",name="message",for="sms") message
								textarea(id="id-sms",class="formul__mens inputext textarea",name="sms",required, cols="30", rows="3", placeholder="messaje")
							input(class="inputext submit",type="submit", value="submit",id="id-submit")
				a(class="author link",href="http://www.freepik.com",target="_blank") Designed by Freepik			
			script(src="js/main.js")

