@import"../utilities/mixins";
@import "../utilities/variables";
.hideText{
    display: block;
    height: 4.4rem;    
    -webkit-line-clamp: 3;
    -moz-box-orient: vertical;    
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.hideTextPromo{//el tamaño de la fuente en estos párrafos es más grande por eso el heigth debe serlo también.
    @extend .ellipsis;
    cursor: default; 
}
.showText{
    height: auto;
    -webkit-line-clamp: none; 
    overflow: visible;
    cursor: default;
}
//Ellipsis($font-size,$line-height,$linesToShow,$margin:"0")
.ellipsis{
    cursor: pointer;
    pointer-events:auto ;
    @include Ellipsis($font-p,1.5,4,0);
    position: relative;
    text-align: justify;
    
    &::after{
        content: "\22EF";
        background-image: linear-gradient(left,transparent 20%,$color-white 30%);
        width: 2rem;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.ellipsis--2{    
    @include Ellipsis(1.295rem,1.5,4,0);
    text-align: justify;
    &::after{
        content: "\22EF";
        background-image: linear-gradient(left,transparent 20%,$color-white 30%);
        width: 2rem;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.showMenu{    
    display: flex;
    transform: translateY(0);
    transition: transform 1.5s ease;
}
.opacityElement{
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
        background-image: linear-gradient(rgba(0 ,0 ,0 ,0.7),rgba(0 ,0 ,0, 0.7));
        z-index: 99;
    }
}
.scroolTop{
    position: fixed;
    color:$color-black;
    z-index: 1000;
    bottom:15%;
    right: 1rem;
    transform: translateX(20rem);
    visibility: hidden;
    &:hover,&:active{
        color:lighten($color-black, 30%);
        cursor: pointer;
    }
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(1);
        color:lighten($color-black, 10%);
    }
}
.animate{
    visibility: visible;
    transform: translateX(0);
    transition: transform .5s ease-in;
}

@media  #{$tablets}{
     
}
@media  #{$desktops}{
    
}
@media #{$large-desktops}{
    
}
@media #{$extra-large-desktops}{
    
}
@media #{$four-k}{
   
}