@import "../utilities/mixins";
@import "../utilities/variables";
.cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto 5rem;    
}
.cardsContainer__2{
    display: none;
    transition: display 2s ease;
}
.l-cards{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &::after{
        content: "";
        position: absolute;
        width: 6rem;
        height: 5rem;
        background: url("../images/pointsBlues.svg") 0 0 /100% no-repeat border-box; 
        bottom: .5rem;
        right: 1rem;        
        clip-path: inset(0 18% 0 0);
    }
}
.cardsH2{
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
    top: -2rem;
}
@media #{$phones}{
   .cardsContainer{
       width: 68%;
   }
}
@media #{$landscape-phones}{
    .cardsContainer{
       width: 95%;
       flex-flow: row wrap;       
       align-items: flex-start;
    }
}
@media #{$tablets}{
   
}
@media #{$desktops}{
   
}
@media #{$large-desktops}{
    
    .cardsContainer{        
        width: 81.2%;
    }  
    .l-cards{
        &::after{
            width: 8rem;
            height: 6rem; 
            right: 3rem; 
        }
    }
        
}
@media #{$extra-large-desktops}{
    
}