@import "../utilities/mixins";
@import "../utilities/variables";
.cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto 5rem;    
}
.cardsContainer__2{
    display: none;
    transition: display 2s ease;
}
.l-cards{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &::after{
        content: "";
        position: absolute;
        @include bars(transparent,$pink,.3rem,5rem);  
        bottom: 2rem;
        left: 3rem; 
        transform: rotate(90deg);
    }
}
.cardsH2{
    color:$color-primary;
    text-transform: uppercase;
    margin-bottom: 3rem;
    //position: relative;
    //top: -2rem;
}
@media #{$phones}{
   .cardsContainer{
       width: 68%;
   }
}
@media #{$landscape-phones}{
    .cardsContainer{
       width: 95%;
       flex-flow: row wrap;       
       align-items: flex-start;
    }
}
@media #{$tablets}{
   
}
@media #{$desktops}{
   
}
@media #{$large-desktops}{
    
    .cardsContainer{        
        width: 87%;
    }  
    .l-cards{
        &::after{
            right: 3rem; 
        }
    }
        
}
@media #{$extra-large-desktops}{
    
}