@import "../utilities/mixins";
@import "../utilities/variables";
.l-footer{
    width: 100%;
    position: relative;  
    padding-top: 2rem;
    &::after,&::before{
        content: "";        
        position: absolute;
    }
    &::after{
        content: "";
    }
    &::before{
        @include bars(transparent,$pink,.3rem,5rem);  
        top: .5rem;
        left: 2.5rem;
        z-index: 10;
    } 
}
@media #{$phones}{
   .l-footer{
   }
}
@media #{$landscape-phones}{
    .l-footer{
        &::before{
            top:2.5rem;
            left: 2.5rem;
        }
    }
}
@media #{$tablets}{
    .l-footer{ 
    }
}
@media #{$desktops}{
   .l-footer{ 
   }
}
@media #{$large-desktops}{
   
}
@media #{$extra-large-desktops}{
    .l-footer{
    }
}
@media #{$four-k}{
    .l-footer{
    }
}