@import "../utilities/variables";
@import "../utilities/mixins";
.l-header{
    background:url("../images/backgroundTop.svg") 0 100%/133% auto no-repeat, linear-gradient(to bottom, #7287AE 50%, transparent 50%);
    padding-bottom: 4rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
    &::before,&::after{
        content: "";
        position: absolute;
        width: 6rem;
        height: 5rem;
        background: url("../images/points.svg") 0 0 /100% no-repeat border-box; 
    }
    &::before{
        bottom: 4rem;
        left: 2rem;
    }
    &::after{
        right: -1.1rem;
        bottom: 50%;
        transform:rotate(90deg);
    }
    
}
.header__skip{
    width: auto;
    height: auto;
    position: fixed;
    z-index: 200;
    padding: .5rem;
    padding-right: 2rem;
    top:4rem;
    left: .5rem;
    transform: translateX(-150%);
    transition: transform 1s ease-in;
    font-weight: 800;
    background-color: $color-primary;
    &:focus{
        transform: translateX(0);       
        box-shadow:0 0 0 .2rem transparent,0 0 0 .4rem $color-white;
    }
}
@media #{$phones}{}
    
@media #{$landscape-phones}{
    .l-header{
        padding-bottom: 7rem;
    } 
}
@media #{$tablets}{
    .l-header{
        padding-bottom: 9rem;
        &::before{
            left: 6rem;
        }
    } 
}
@media #{$desktops}{
    .l-header{
        padding-bottom: 10rem;
    } 
}
@media #{$large-desktops}{
    .l-header{
        padding-bottom: 13rem;
        &::before,&::after{
            width: 8rem;
            height: 6rem;
        }
        
        &::before{
            bottom: 6rem;
            left: 8rem;
        }
    }
}
@media #{$extra-large-desktops}{
    
}
@media  #{$four-k}{
    
}