@import "../utilities/variables";
@import "../utilities/mixins";
.l-header{
    background:url("../images/top.svg") 0 100%/cover no-repeat;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 12rem;
    &::before,&::after{
        content: "";
        position: absolute;
        @include bars(transparent,$yellow,.3rem,5rem);
    }
    &::before{
        bottom: 4rem;
        left: 2rem;
    }
    &::after{
        right: 2.9rem;
        bottom: 60%;
        transform:rotate(90deg);
    }
    
}
.header__skip{
    width: auto;
    height: auto;
    position: fixed;
    z-index: 200;
    padding: .5rem;
    padding-right: 2rem;
    top:4rem;
    left: .5rem;
    transform: translateX(-150%);
    transition: transform 1s ease-in;
    font-weight: 800;
    background-color: $color-primary;
    &:focus{
        transform: translateX(0);       
        box-shadow:0 0 0 .2rem transparent,0 0 0 .4rem $color-white;
    }
}
@media #{$phones}{}
    
@media #{$landscape-phones}{
    
}
@media #{$tablets}{
    .l-header{
        &::before{
            left: 6rem;
        }
    } 
}
@media #{$desktops}{
   .l-header{
       padding-bottom: 16rem;
   }
}
@media #{$large-desktops}{
    .l-header{   
        &::before{
            bottom: 6rem;
            left: 8rem;
        }
    }
}
@media #{$extra-large-desktops}{
    .l-header{
        padding-bottom: 20rem;
    }
}
@media  #{$four-k}{
    
}