
@import "../utilities/variables";
.l-order{
    background-color: $color-primary;
    padding: 4rem 1rem;
    width: 100%;
}
.order__containerElements{
    display: flex;
    flex-direction: column;    
    width: 100%;
}
@media  #{$landscape-phones}{
    .order__containerElements{
        flex-flow: row wrap;
        justify-content: space-evenly;
    } 
}
@media  #{$tablets}{
   
}

@media  #{$desktops}{
    
}
@media  #{$large-desktops}{
    .order__containerElements{
        width: 82%;
        margin-left: auto;
        margin-right: auto;
    }
}