@import "../utilities/variables";
.l-voucher{
    background: url("../images/voucher/backgroundSmall.jpg") 0 0 /cover no-repeat;
    padding: 4rem 1rem;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    &::before,&::after{
        content: "";
        position: absolute;
        z-index: 5;
    }
    &::before{
        top: -1.7rem;
        left: 2.5rem;
        width: 6rem;
        height: 5rem;
        background: url("../images/points.svg") 0 0 /100% no-repeat border-box; 
        clip-path: inset(40% 0 0 0);
    }
    &::after{
        width: 6rem;
        height: 5rem;
        background: url("../images/pointsBlues.svg") 0 0 /100% no-repeat border-box; 
        right: 2.5rem;
        bottom: -3.3rem;        
    }
}
@media  #{$landscape-phones}{
    .l-voucher{
        background: url("../images/voucher/backgroundMedium.jpg") 0 0 /cover no-repeat;
    }
}
@media  #{$tablets}{
   
}
@media  #{$desktops}{
    .l-voucher{
        background: url("../images/voucher/backgroundLarge.jpg") 0 0 /cover no-repeat;
       
       
    }
}
@media  #{$large-desktops}{
   .l-voucher{
    &::before{
        width: 8rem;
        height: 6rem;
    }
    &::after{
        width: 8rem;
        height: 6rem;    
    }
   }
}
@media  #{$extra-large-desktops}{
   
}
@media  #{$four-k}{
    
}