@import "../utilities/variables";
.l-voucher{
    background: url("../images/voucher/pexels-elle-hughes-small.jpg") 0 0 /cover no-repeat;
    padding: 4rem 1rem;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    &::before,&::after{
        content: "";
        position: absolute;
        z-index: 5;
    }
    &::before{
        top: -1.7rem;
        left: 2.5rem;
        @include bars(transparent,$pink,.3rem,5rem);  
    }
    &::after{
        @include bars(transparent,$yellow,.3rem,5rem); 
        transform: rotate(90deg); 
        right: 4rem;
        bottom: -3.3rem;        
    }
}
@media  #{$landscape-phones}{
    .l-voucher{
        background: url("../images/voucher/pexels-elle-hughes-Medium.jpg") 0 0 /cover no-repeat;
    }
}
@media  #{$tablets}{
   
}
@media  #{$desktops}{
    .l-voucher{
        background: url("../images/voucher/pexels-elle-hughes-large.jpg") 0 0 /cover no-repeat;
    }
}
@media  #{$large-desktops}{
   
}
@media  #{$extra-large-desktops}{
   
}
@media  #{$four-k}{
    
}