 @import "../utilities/variables";
.button--voucher{
    padding-bottom: .7rem;
    padding-top: .7rem;
}
@media  #{$landscape-phones}{
   
}
@media  #{$tablets}{
    
}
@media  #{$desktops}{
   
}
@media  #{$large-desktops}{
    .button--voucher{
        padding-bottom: 1.3rem;
        padding-top: 1.3rem;
    }
}
@media  #{$extra-large-desktops}{
   
}
@media  #{$four-k}{
   
}