@import "../utilities/variables";
.containerAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$color-text;
    padding-top: 14rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
    background:url("../images/bottom.svg") 0 0 / cover no-repeat ,linear-gradient(top,transparent 50%,$color-primary 50%);
    padding-bottom: 4rem;
}
.containerAbout__h2{
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 75%;
        width: 75%;
        height: .1rem;
        background-color: $color-text;
        bottom: 0;
        left: 0;
    }
}
.containerAbout__about{ 
    width: 100%;
}
.containerAbout__text{
    margin-bottom: 5rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    >*:not(h2){
        font-size: .85rem;
        text-align: left;
        margin-bottom: 1rem;
    }

}
.containerAll__ul{   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}
@media  #{$phones}{
    .containerAll__ul{
        width: 75%;
    }
}
@media  #{$landscape-phones}{  
    .containerAll__ul{
        width: 60%;
    }
    .containerAbout__about{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media  #{$tablets}{
    .containerAbout{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 18rem;
    }
    .containerAbout__text{
        margin-bottom: 0;
        flex: 1 1;
        width: 100%;
    }
    .containerAbout__about{
        flex:1 1;
        width: 100%;
    }
    
    .containerAll__ul{
        width: auto;
    }
}
@media  #{$desktops}{    
    .containerAbout{
        
    }

}
@media  #{$large-desktops}{
    .containerAbout{
        padding-top: 20rem;
    }
}
@media  #{$extra-large-desktops}{
    .containerAbout{
        padding-top: 22rem;
    }
}
@media  #{$four-k}{
    .containerAbout{
        padding-top: 24rem;
    }
}