@import "voucher__container";
@import "../utilities/variables";
.footer__containerAll{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    z-index: 50;
}
.author{
    background-color:$color-primary;
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media  #{$landscape-phones}{
    .footer__containerAll{
      
    } 
}
@media  #{$tablets}{
    /* .footer__containerAll{
        width: 85%;
    }  */
}
@media  #{$desktops}{
   .footer__containerAll{
      
   } 
}
@media  #{$large-desktops}{
    .footer__containerAll{ 
    }
}