@import "voucher__container";
@import "../utilities/variables";
.footer__containerAll{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    z-index: 50;    
    >*{
       /*  margin-bottom: 1.5rem; */
    }
}
@media  #{$landscape-phones}{
    .footer__containerAll{
      
    } 
}
@media  #{$tablets}{
    /* .footer__containerAll{
        width: 85%;
    }  */
}
@media  #{$desktops}{
   .footer__containerAll{
      
   } 
}
@media  #{$large-desktops}{
    .footer__containerAll{ 
    }
}