@import "../utilities/variables";
.food__container{
    display: flex;
    flex-direction: column;
    background-color:$color-white;
}
.food__container--rotate{
    flex-direction: column-reverse;
}
.food__containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;  
    position: relative; 
    &::after{
        position: absolute;
        display: block;
        content: "";
        bottom: -3.3rem;
        left: 45%;
        @include bars(transparent,$pink,.3rem,5rem);  
    }
    &:last-of-type{
        &::after{
            transform: rotate(90deg);
            @include bars(transparent,$yellow,.3rem,5rem);
            bottom: 0;  
        }
    }    
}
@media  #{$landscape-phones}{    
    .food__container{
        flex-direction: row;
    }
    .food__information{
        width: 50%;
    }
    .food__containerImg{
        width: 50%;
    }
}
@media  #{$tablets}{
   
}
@media  #{$desktops}{
    
}
@media  #{$large-desktops}{
    .food__containerImg{
        &::after{
            bottom: -3.5rem;
        }
    }
}
@media  #{$extra-large-desktops}{
    
}