@import "../utilities/mixins";
@import "../utilities/variables";
.food__information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:$color-grey;    
    text-align: left;
    >*{
        margin:1rem 1rem;
    }
    padding: 2rem 0;
    position: relative;
    cursor: default;
}
.food__h2{
    text-transform: capitalize;
}
.food__img{
    display: block;
    width: 100%; 
    object-fit: cover;   
}
.food__p{
    pointer-events: none;
    font-size: 1.295rem;
    line-height: 1.5;
}
.food__input{
}
.button__span{
    position: absolute;
    width: 0;
    height: 0;
    clip: rect(0 0 0 0 );
}
@media  #{$landscape-phones}{
    
}
@media  #{$large-desktops}{
    
}