@import "../utilities/variables";
@font-face{
    font-family: "Lato";
    src:url("./font/Lato/Lato-Regular.ttf");
    //src:url("../../font/Lato/Lato-Regular.ttf");

}
@font-face{
    font-family: "Ubuntu";
    src:url("./font/Ubuntu/Ubuntu-Bold.ttf");
    //src:url("../../font/Ubuntu/Ubuntu-Bold.ttf")
}
@font-face{
    font-family: "Ubuntu";
    src:url("./font/Ubuntu/Ubuntu-Medium.ttf");
    //src:url("../../font/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face{
    font-family: "Raleway";
    src:url("./font/Raleway/Raleway-Bold.ttf");
    //src:url("../../font/Raleway/Raleway-Bold.ttf");
}